<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

    <!-- Targets go here -->
    
    <target xsi:type="Debugger" name="debugger" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"/>

		<!-- Use this target for viewing in test runner & VS debug output window -->
	  
    <target name="trace" xsi:type="Trace" layout="${longdate} ${level:uppercase=true} | ${logger} | ${message}"/>

      <target name="filteredTrace" xsi:type="FilteringWrapper" condition="(contains('${logger}','UI') == false)">
          <target xsi:type="Trace" layout="${date:format=HH\:MM\:ss.fff} ${level:uppercase=true} | ${logger} | ${message}"/>
    </target>
    
    <target name="console" xsi:type="Console"
            layout="${date:format=HH\:MM\:ss} ${threadid} ${logger} ${message}"/>

		<target name="network" xsi:type="Network" address="udp://127.0.0.2:4000"
			layout="${date:format=HH\:MM\:ss.fff} | ${logger} | ${level} | ${message}"/>

    <target name="viewer" xsi:type="NLogViewer" address="udp://127.0.0.2:4000"/>

  </targets>

  <rules>
    <!-- Rules go here -->    
    <!-- Levels are (in order): Trace, Debug, Info, Warn, Error, Fatal -->
    <logger name="*" minlevel="Trace" writeTo="viewer"/>
    <!--
	  <logger name="*" minlevel="Trace" writeTo="console"/>
    <logger name="*" minlevel="Trace" writeTo="network"/>
    -->

  </rules>
   
</nlog>